html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#6b75d1), color-stop(#0094e8), color-stop(#00aee9), color-stop(#00c4d8), color-stop(#00d6be), color-stop(#3bd1ae), color-stop(#53cca0), color-stop(#65c792), color-stop(#55ae8d), color-stop(#4d9683), color-stop(#4a7d75), to(#4a6563));
  background-image: linear-gradient(to right top, #6b75d1, #0094e8, #00aee9, #00c4d8, #00d6be, #3bd1ae, #53cca0, #65c792, #55ae8d, #4d9683, #4a7d75, #4a6563); 
}

.paper-text {
  padding: 0 3rem;
  margin-bottom: 1rem;
}

.paper-heading {
  padding: 0 4rem
}

@media (max-width: 992px) {
  .paper-heading {
    font-size: 2rem
  }
}